<template>
  <AtomButtonBase
    class="flex p-2 border-amber-500 r-100 border-4 border-solid"
    :is-disabled="props.isDisabled"
  >
    <slot></slot>
  </AtomButtonBase>
</template>

<script setup lang="ts">
const props = withDefaults(defineProps<{
  isDisabled?: boolean,
}>(), {
  isDisabled: false,
});
</script>
