<template>
  <div
    :class="[
      'p-4 mb-4 rounded-md shadow-2xl border-amber-100 border-2',
      props.data.death !== undefined ? 'bg-amber-50' : 'bg-gray-100'
    ]"
  >
    <h2 class="font-bold mb-2">
      {{ props.data.fullName.en }}
    </h2>

    <p class="font-light">
      <span>
        Born
      </span>

      <span class="italic">
          {{ new Date(props.data.birth.date).toLocaleDateString('pl', {month: "long", day: "numeric", year: "numeric"}) }}
      </span>
    </p>

    <p
      class="text-sm mb-4"
    >
      {{ props.data.birth.place.city.en }}, <span class="italic">{{ props.data.birth.place.country.en }}</span>
    </p>

    <MoleculeButton
      @click="toggleDetailsDisplay()"
    >
      Show details
    </MoleculeButton>

    <AtomCardDetails
      v-if="areDetailsDisplayed"
      :phrase-to-search="getSlugFromAString(props.data.fullName.en)"
    ></AtomCardDetails>
  </div>
</template>

<script setup lang="ts">
const areDetailsDisplayed = ref<boolean>(false);

const props = defineProps<{
  data: Object,
}>()

const toggleDetailsDisplay = () => {
  areDetailsDisplayed.value = !areDetailsDisplayed.value
};

const getSlugFromAString = (value: string) => {
  return value.split(' ').join('-')
}
</script>
