<template>
  <NuxtLayout name="error">
    <div class="text-center">
      <h1
        class="font-semibold text-2xl"
      >
        Error {{ error.statusCode }}
      </h1>

      <p
        class="font-medium text-xl"
      >
        {{ error.statusCode === 404 ? 'Page not found' : 'Internal server error' }}
      </p>
    </div>
  </NuxtLayout>
</template>

<script setup lang="ts">
const error = useError();
</script>
