<template>
  <button
    :disabled="props.isDisabled"
  >
    <slot></slot>
  </button>
</template>

<script setup lang="ts">
const props = withDefaults(defineProps<{
  isDisabled?: boolean,
}>(), {
  isDisabled: false,
});
</script>

<style lang="scss">
button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
}
</style>
