<template>
  <div
    class="py-4"
  >
    <div
      v-if="isLoaded"
      class="flex justify-between gap-4"
    >
      <img
        :src="details?.thumbnail.url"
        alt="Image"
        :height="details?.thumbnail.height"
        :width="details?.thumbnail.width"
        class="mb-4"
      >

      <div
        v-html="details?.excerpt"
      ></div>
    </div>

    <div
      v-else-if="isError"
    >
      An error occured
    </div>

    <div
      v-else
    >
      loading...
    </div>
  </div>
</template>

<script setup lang="ts">
// https://en.wikipedia.org/w/rest.php/v1/search/page?q={search}&limit=1

const props = defineProps<{
  phraseToSearch: string,
}>();

const isLoaded = ref<boolean>(false);
const isError = ref<boolean>(false);
const details = ref(null);

const url = `https://en.wikipedia.org/w/rest.php/v1/search/page?q=${props.phraseToSearch}&limit=1`

onMounted(() => {
  $fetch(url).then((el: any) => {
    isLoaded.value = true;
    details.value = el.pages[0];

    console.log('el', el)
  }).catch(() => {
    isError.value = true;
  });
})
</script>
