<template>
  <div class="container mx-auto px-4 py-16">
    <h1 class="text-3xl font-bold underline mb-8">
      Nobel Prize Laureates
    </h1>

    <MoleculeCard
      v-for="([res], i) in data"
      :key="i"
      :data="res"
    >
    </MoleculeCard>
  </div>
</template>

<script setup lang="ts">
  //  https://api.nobelprize.org/2.1/laureate/1023 - random nobel prize winner

  const { data } = await useAsyncData('get-laureate', async () => {
    const baseUrl = 'https://api.nobelprize.org/2.1/laureate';
    const randomInt = Math.round(Math.random() * 1000);

    return await Promise.all([
      $fetch(`${baseUrl}/${randomInt}`),
      $fetch(`${baseUrl}/${randomInt + 1}`),
      $fetch(`${baseUrl}/${randomInt + 2}`),
      $fetch(`${baseUrl}/${randomInt + 3}`),
      $fetch(`${baseUrl}/${randomInt + 4}`),
      $fetch(`${baseUrl}/${randomInt + 5}`),
      $fetch(`${baseUrl}/${randomInt + 6}`),
      $fetch(`${baseUrl}/${randomInt + 7}`),
    ])
  })
</script>
